@{
    ViewData["Title"] = "Home Page";
    Layout = "_LatihanJs";
}

<div class="row mt-4 justify-content-center">
    <div id="boxOne" class="main col-md-4 border bg-danger">
        Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.
    </div>
    <div class="col-md-4 border">
        <div class="row border bg-primary box2">
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
        </div>
        <div class="row border bg-info box3">
            Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
        </div>
    </div>
</div>

<div class="d-flex justify-content-center gap-3 mt-4">
    <button onclick="baris()" class="btn btn-primary" type="button">Button</button>
    <button id="btnTwo" class="btn btn-warning" type="button">Button</button>
    <button id="btnThree" class="btn btn-info" type="button">Button</button>
</div>